In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.decomposition import PCA

In [11]:
data = pd.read_csv("D:\\academics\\SEM-V\\ML LAB\\Lab5(PCA)\\insurance.csv")
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [12]:
encoderCols = []
for i in data: 
    if(data[i].dtype == "object"):
        encoderCols.append(i)
ordEnc = OrdinalEncoder()
data[encoderCols] =  ordEnc.fit_transform(data[encoderCols])
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     1.0     3.0  16884.92400
1   18  1.0  33.770         1     0.0     2.0   1725.55230
2   28  1.0  33.000         3     0.0     2.0   4449.46200
3   33  1.0  22.705         0     0.0     1.0  21984.47061
4   32  1.0  28.880         0     0.0     1.0   3866.85520

In [13]:
y = data.iloc[:,6]
print(y)
data = data.drop(labels = "charges",axis = 1)
X = data.iloc[:,]
print(X)

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64
      age  sex     bmi  children  smoker  region
0      19  0.0  27.900         0     1.0     3.0
1      18  1.0  33.770         1     0.0     2.0
2      28  1.0  33.000         3     0.0     2.0
3      33  1.0  22.705         0     0.0     1.0
4      32  1.0  28.880         0     0.0     1.0
...   ...  ...     ...       ...     ...     ...
1333   50  1.0  30.970         3     0.0     1.0
1334   18  0.0  31.920         0     0.0     0.0
1335   18  0.0  36.850         0     0.0     2.0
1336   21  0.0  25.800         0     0.0     3.0
1337   61  0.0  29.070         0     1.0     1.0

[1338 rows x 6 columns]

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y,train_size = 0.6)

MultipleRegression = LinearRegression()
MultipleRegression.fit(x_train, y_train)

LinearRegression()

In [15]:

preds = MultipleRegression.predict(x_test)
print(mean_absolute_error(y_test,preds))

4554.03296794065

In [16]:
pca = PCA().fit(x_train)
pca = PCA(n_components = 6)
x_train = pca.fit_transform(x_train)
x_test = pca.transform(x_test)

In [17]:
#x_train, x_test, y_train, y_test = train_test_split(x_temp,Y,train_size = 0.6)
#prdts =

In [18]:
newRegression = LinearRegression()
newRegression.fit(x_train,y_train)
prdts = newRegression.predict(x_test)
#print(mean_absolute_error(y_test,prdts))
print(mean_absolute_error(y_test,prdts))
#print(classification_report(y_test, pred))

4554.032967940652